*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: "Noto Sans Arabic", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url(assets/img/bg.png);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* Framework*/
.box {
  max-width: 550px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
  z-index: 5;
  padding: 1rem;
  margin: auto;
  text-align: center;
}
.header_container {
  padding: 10px 3rem;
  height: 72px;
  background-color: rgba(201, 48, 48, 0.459);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    img {
      user-select: none;
      width: 100px;
    }
  }
  .score {
    width: 20px;
    display: flex;
    justify-content: end;
    span {
      font-weight: bold;
      user-select: none;
    }
  }
}
.main_container {
  position: relative;
  padding: 1rem;
  flex: 1;
}
#circle {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: rgb(41, 70, 187);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
  transition: left ease 0.2s, top ease 0.2s, background-color ease 0.5s,
    scale 0.2s;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  &:hover {
    scale: 1.03;
  }
}
.footer_container {
  background-color: rgba(41, 70, 187, 0.216);
  margin-bottom: auto;
  padding: 1rem;
  user-select: none;
  p {
    font-family: "funny", sans-serif;
    display: inline-block;
    font-size: 1.05rem;
    color: rgb(85, 26, 139);
    &:hover {
      scale: 1.02;
    }
    a {
      color: rgb(85, 26, 139);
      text-decoration: none;
      margin-left: 10px;
      &:hover {
        text-decoration: underline dashed;
      }
    }
  }
}
.looser {
  background-color: #3a0ca3;
  box-shadow: 0 0 20px rgba(0, 255, 127, 0.3);
  animation: fade-in 2s;
  display: none;
  h2 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffd700;
    margin-bottom: 1rem;
    span {
      display: inline-block;
      animation: bug 3s linear infinite;
    }
  }
  p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px #888;
    color: #e2fdff;
  }
}
.start {
  background-color: #F15946;
  box-shadow: 0 0 20px rgba(0, 255, 127, 0.3);
  color: #e2fdff;
  /* animation: fade-in 2s; */
  h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  input {
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: #e2fdff;
    &::placeholder {
      color: #e2fdff;
      font-weight: 500;
      opacity: 0.7;
    }
    &:focus {
      border-color: #ccc;
    }
  }
  .contactForChangeName {
    margin-bottom: 20px;
    background-color: #003554;
    padding: 1rem;
    border-radius: 20px;
    a {
      color: #53B3CB;
      text-decoration: none;
      font-weight: 900;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  button {
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px #888;
    display: block;
    background-color: #006494;
    color: #e2fdff;
    outline: none;
    margin-bottom: 0.5rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    &:hover {
      color: #ffd700;
      opacity: 0.8;
    }
    &:first-of-type {
      width: 60%;
    }
    &:last-of-type {
      width: 40%;
    }
  }
}
.alert {
  position: absolute;
  z-index: 8;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  animation: fade-in 1s linear;
  display: none;
  pointer-events: none;
}
@keyframes bug {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(20px, 5px);
  }
  75% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
